<div class="content-image" [defaultImage]="'/assets/images/background4@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background4.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="story">Teamizer</h3>
              <div class="row">
                <app-quick-pick [players]="players" (goClicked)="onGoClicked($event)" (resetClicked)="onResetClicked()"
                  (copyClicked)="onCopyClicked()">
                </app-quick-pick>
                <div class="col-md-12">
                  <small>
                    Tip: use sub + # to make a rating for recruits and other non-CSA. Examples: sub25 sub14 sub8 List of
                    abbreviations/shortcuts (opens in new tab)
                  </small>
                </div>
                <br>
                <div class="col-md-12">
                  <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn btn-primary btn-player" style="margin-top: 16px;"
                      (click)="openSelectTeamsDialog()" [disabled]="!calculatedTeams || !calculatedTeams.length">
                      Select Alternative Team
                    </button>
                  </div>
                </div>
                <div class="col-md-6 mt-4">
                  <div class="list-group player-group">
                    <div href="#" class="list-group-item flex-column align-items-start active ">
                      <h5 style="display: inline;" class="mb-1 float-left">Team One </h5>
                      <h5
                        *ngIf="currentCalculatedTeam && currentCalculatedTeam.teamOne && currentCalculatedTeam.teamOne.length"
                        style="display: inline;" class="mb-1 float-right">#
                        {{ currentCalculatedTeam.teamOne | teamSum }}
                      </h5>

                    </div>
                    <div cdkDropList #teamOneList="cdkDropList" [cdkDropListData]="currentCalculatedTeam.teamOne"
                      [cdkDropListConnectedTo]="[teamTwoList]" (cdkDropListDropped)="drop($event)"
                      [cdkDropListEnterPredicate]="canDropPredicate">
                      <div *ngFor="let player of currentCalculatedTeam.teamOne; trackBy: trackByPlayerId" cdkDrag
                        [cdkDragData]="currentCalculatedTeam.teamOne"
                        class="list-group-item flex-column align-items-start player-card">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ player.playerName }}</h5>
                          <small>Rating: {{ player.rating }}</small>
                        </div>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      </div>
                    </div>
                    <div
                      *ngIf="!currentCalculatedTeam  || !currentCalculatedTeam.teamOne || !currentCalculatedTeam.teamOne.length"
                      class="d-flex justify-content-center" style="height: 100%">
                      <div class="align-self-center">
                        <p class="h4">No teams selected.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-4">
                  <div class="list-group player-group">
                    <div href="#" class="list-group-item flex-column align-items-start active">
                      <h5 style="display: inline;" class="mb-1 float-left">Team Two </h5>
                      <h5
                        *ngIf="currentCalculatedTeam && currentCalculatedTeam.teamTwo && currentCalculatedTeam.teamTwo.length"
                        style="display: inline;" class="mb-1 float-right">#
                        {{ currentCalculatedTeam.teamTwo | teamSum }}
                      </h5>
                    </div>
                    <div cdkDropList #teamTwoList="cdkDropList" [cdkDropListData]="currentCalculatedTeam.teamTwo"
                      [cdkDropListConnectedTo]="[teamOneList]" (cdkDropListDropped)="drop($event)"
                      [cdkDropListEnterPredicate]="canDropPredicate">
                      <div *ngFor="let player of currentCalculatedTeam.teamTwo; trackBy: trackByPlayerId" cdkDrag
                        [cdkDragData]="currentCalculatedTeam.teamTwo"
                        class="list-group-item flex-column align-items-start player-card">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ player.playerName }}</h5>
                          <small>Rating: {{ player.rating }}</small>
                        </div>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                      </div>
                    </div>
                    <div
                      *ngIf="!currentCalculatedTeam || !currentCalculatedTeam.teamTwo || !currentCalculatedTeam.teamTwo.length"
                      class="d-flex justify-content-center" style="height: 100%">
                      <div class="align-self-center">
                        <p class="h4">No teams selected.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
