<div class="content-image" [defaultImage]="'/assets/images/background2@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background2.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h3 class="story">Over 100 members</h3>
              <p class="card-text">We have our own software which determines fair teams based on ratings established by
                a board of members (all members are rated from 1 to 45 based on their skill level and ability to play as
                a team. These ratings are used to set teams.</p>
            </div>
            <div class="col-md-4 col-sm-12">

              <img class="story-image" [lazyLoad]="'/assets/images/story1.jpg'" />


            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img class="story-image" [lazyLoad]="'/assets/images/story2.jpg'" />
            </div>
            <div class="col-md-8 col-sm-12">
              <h3 class="story">MEMBERS ONLINE EACH NIGHT</h3>
              <p class="card-text">
                We have about 25 to 30 members show up on Sundays and Tuesdays to play AOE. On Sundays, we focus on Map
                Packs. If you are tired of Arabia Maps, try Sunday Games. On Tuesdays, we play Map of the Week. Each
                Tuesday, a map is pre-selected to play (a list is found on our Forums).
                Most others evenings, we play Arabia (with an occasional water map or Nomad-type map).
              </p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h3 class="story">NO AGE OR ABILITY RESTRICTIONS</h3>
              <p class="card-text">
                While we have members on Voobly each day and night (we are a group with members all over the world), our
                most active days are Sundays and Tuesdays. On Sundays, we play all day & evening and generally play
                Map-Packs (with an occasional Nomad-style map thrown in). On Tuesdays, we
                play a pre-selected Map-of-the-week (a list is found on our forums). Other nights, we play mostly
                Arabia.
              </p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="story-image" [lazyLoad]="'/assets/images/story3.jpg'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
