<div class="userInfo">
  <ng-container *ngIf="user && user.user_id !== 1">
    <div class="avatar" [lazyLoad]="'phpBB3/download/file.php?avatar=' + user.user_avatar"></div>
    <div class="detail">
      <h3>
        {{user.username}} <fa-icon style="cursor: pointer" [icon]="faSignOutAlt" (click)="onLogout()"></fa-icon>
      </h3>
      <p>
        Last login:<br>
        {{  user.user_lastvisit | toLocaleTimeString }}
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="!user || user.user_id === 1" >
    <h3>
      Not logged in
      <a routerLink="/login">
        <fa-icon style="cursor: pointer" [icon]="faSignOutAlt"></fa-icon>
      </a>
    </h3>
  </ng-container>
</div>
