<div class="content-image" [defaultImage]="'/assets/images/background3@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background3.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="story forum-group-title">Forum</h3>
              <div *ngIf="forums && forums.length" class="table-responsive">
                <table class="table table-sm table-bordered table-custom" style="width: 100%;">
                  <tr>
                    <th>Forums</th>
                    <th>Topics</th>
                    <th>Posts</th>
                    <th>Last posts</th>
                  </tr>
                  <ng-container *ngFor="let forum of forums">
                    <tr>
                      <td colSpan="4">
                        <h4 class="forum-title">{{ forum.name }}</h4>
                      </td>
                    </tr>
                    <ng-container *ngFor="let child of forum.children">
                      <tr>
                        <td width="60%">
                          <h5 class="child-forum-title">
                            <a [href]="'phpBB3/viewforum.php?f=' + child.id">{{child.name}}</a>
                          </h5>
                          <div [innerHTML]="child.description"></div>
                        </td>
                        <td style="text-align:center; width:5%;">
                          {{child.topics}}
                        </td>
                        <td style="text-align:center; width:5%;">
                          {{child.posts}}
                        </td>
                        <td width="30%">
                          <p style="text-align: center" class="last-post-detail">
                            <strong>
                              <a [href]="'phpBB3/viewtopic.php?f=3&p=' + child.last_post_id + '#' +
                                child.last_post_id">{{ child.last_post_subject.length > 30 ?
                                child.last_post_subject.slice(0, 30 - 1) + '…' : child.last_post_subject }}</a>
                            </strong>
                            <br>
                            {{ child.last_post_time | toLocaleTimeString }}

                            <br>
                            <a [href]="'phpBB3/memberlist.php?mode=viewprofile&u=' + child.last_poster_id">{{ child.last_poster_name }}</a>
                          </p>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </table>
              </div>
            </div>
            <div class="col-md-4 col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
