<div class="content-image" [defaultImage]="'/assets/images/background5@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background5.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="story">Teamizer latest changes</h3>
            </div>
          </div>
          <div *ngFor="let log of teamizerLogs" class="row player-log-block">
            <div class="col-md-12">
              <h4>{{ log.day | toLocaleDateString }}</h4>
            </div>

            <div *ngFor="let item of log.items" class="col-md-4 col-sm-4  ">
              <div class="player-log">
                <h5>
                  <fa-icon *ngIf="item.oldRating < item.newRating" style="color: #27ae60" [icon]="faChevronCircleUp"></fa-icon>
                  <fa-icon *ngIf="item.oldRating > item.newRating" style="color: #c0392b" [icon]="faChevronCircleDown"></fa-icon>
                  {{item.playerName}}
                </h5>
                From: <strong>{{item.oldRating}}</strong> - New rate: <strong>{{item.newRating}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
