<div class="content-image" [defaultImage]="'/assets/images/background@0.1x.jpg'" [lazyLoad]="'/assets/images/background.jpg'">
  <img class="logo" [lazyLoad]="'/assets/images/logo.png'">
  <div style="padding-top: 250px;" class="row section">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Age of Empires Gaming Community</h5>
          <p class="card-text">
            Our Group has been together for over 20 years! We play Age of Empires on Voobly and strive to set fair
            teams
            and fair play. <br>
            We have our own teaming software, with independently determined rating, which is used to set teams as
            fairly
            as possible. <br>
            As a group, we strongly believe in <br>
            <br>
            (1) Respect for Self <br>
            (2) Respect for Others and <br>
            (3) Responsibility for all your Actions (what we call the three Rs). <br>
            When you lose, don’t lose the lesson! <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
