<div class="content-image" [defaultImage]="'/assets/images/background5@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background5.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <h5 class="card-title">Page not found</h5>
          <p class="card-text">
            The link you have clicked may be broken or the page may have been removed. <br>
            Visit the
            <a routerLink="/intro"><strong>homepage</strong></a> or contact us about the problem
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
