.header-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  z-index: 999;
  background-repeat: repeat-x;
}

// div {
//   min-width: 1497px;
//   width: 100%;
//   min-height: 1127px;
//   background-position: center;
//   background-size: cover;
// }
// div.ng-lazyloaded {
//   animation: fadein 0.5s;
// }
// @keyframes fadein {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

nav {
  background-color: transparent;
}

.app-navbar-collapse {
  align-items: end;
}

.app-navbar {
  align-items: end;
}
