<div class="header-image" [defaultImage]="'/assets/images/papersm.png'" [lazyLoad]="'/assets/images/paper.png'">
  <nav class="navbar app-navbar  navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="collapse navbar-collapse app-navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/intro']">Intro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/getinvolved']">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/joinus">Join Us</a>
        </li>
        <li *ngIf="userDetail.is_csa_member" class="nav-item">
          <a class="nav-link" routerLink="/teamizer">Teamizer</a>
        </li>
        <li *ngIf="userDetail.is_teamizer_admin" class="nav-item">
          <a class="nav-link" routerLink="/teamizer-admin">Teamizer Admin</a>
        </li>
        <li *ngIf="userDetail.is_csa_member" class="nav-item">
          <a class="nav-link" routerLink="/teamizer-changes">Teamizer changes</a>
        </li>
      </ul>
    </li>

    <app-user-detail [user]="userDetail" (logout)="onLogout()"></app-user-detail>

  </nav>
</div>
