<div class="content-image" [defaultImage]="'/assets/images/background4@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background4.jpg'">
  <div class="row section">
    <div class="offset-md-4 col-md-4 col-sm-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="story">Login</h3>
              <form (submit)="onFormSubmit($event)">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label htmlFor="usernameInput">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="usernameInput"
                      [(ngModel)]="user.username">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label htmlFor="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput"
                      [(ngModel)]="user.password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe"  [(ngModel)]="user.remember">
                    <label class="form-check-label" for="rememberMe">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-apply">
                  Login
                </button>
              </form>
            </div>
            <div class="col-md-4 col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
