@import "./app/style/_variables.scss";

@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900|MedievalSharp|Spectral+SC");
@import "~ng2-slim-loading-bar/style.css";

// Bootstrap
@import "~bootstrap-scss/bootstrap.scss";

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
@import "~ngx-toastr/toastr-bs4-alert";


@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html,
body,
#root,
.App,
.container-fluid {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral SC", serif;

  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  /* text-transform: uppercase; */
  margin: 0 0 1rem 0;
  color: #070301;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.06;
  letter-spacing: -1px;
}

h3 {
  font-family: "Spectral SC", serif;
  font-size: 2.4em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.15em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.7px;
}

h4 {
  font-family: "Spectral SC", serif;
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.15em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.7px;
}

h5 {
  font-family: "Spectral SC", serif;
  font-size: 1.2em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.15em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.7px;
}

body,
input,
select,
textarea {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 1rem;
  /* line-height: 2.375; */
}

.card p {
  font-size: 15px;
  /* font-style: italic; */
  /* margin-top: -0.25rem; */
  /* text-align: center; */
  color: #221f1c;
}

.card-title {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 1rem 0 !important;
}

.card-title {
  margin: 0 0 4rem 0;
  /* text-align: center; */
}

html {
  box-sizing: border-box;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: hidden;
  /* overflow: hidden; */
}
html, body {
  background-color: #ecf0f1;

}

body {
  margin: 0px;
}

.parent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);

}

/* .main {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  scroll-snap-type: y mandatory;
  margin-left: 15%;
}

/* .main Element {
  height: 100vh;
  scroll-snap-align: center;
}



*/

.section-img {
  min-height: 100%;
  height: initial !important;
  padding: 16px;
  padding-top: 100px;
}

.teamizer-latest-container {
  height: 100%;
}

.nav-item {
  margin: 8px 0px 8px 32px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  font-family: MedievalSharp;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.nav-item a.selected {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/*
.main div#page1 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('images/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.main div#page2 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('images/background2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.main div#page3 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('images/background3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.main div#page4 {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('images/background4.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
} */
#nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.element {
  min-height: 100vh;
  scroll-snap-align: center;
}

img.logo {
  position: absolute;
  right: 64px;
  top: 100px;
}

.main .row.section {
  /* margin-left: 10em; */
  /* margin-right: 5em; */
}

.card {
  background-color: #ded6c8;
  /* background-color: rgba(0, 0, 0, 0.5);
  color: white; */
}

.story {
  margin-top: 16px;
}

.btn-apply {
  color: #212529;
  font-family: MedievalSharp;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}

.btn-player {
  color: #212529;
  font-family: MedievalSharp;
  // font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  // line-height: 26px;

}

.btn-apply:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-width: 0px;
}

.btn-apply:active {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white;
  border-width: 0px;
  box-shadow: none;
}

.btn-apply:focus {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white;
  border-width: 0px;
  box-shadow: none !important;
}

.btn-apply-primary {
  border-width: none;
}

div.avatar {
  /* border-radius: 50% !important; */
  width: 64px;
  height: 64px;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

div.userInfo {
  /* margin: 8px 0px 8px 32px; */
  display: flex;
}

div.userInfo .detail {
  margin-left: 16px;
}

div.userInfo h3 {
  /* font-family: MedievalSharp;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px; */
  font-size: 20px;
  margin-bottom: 0px;
}

div.userInfo p {
  line-height: 1.375;
}

.table-custom.table-bordered {
  border: 1px solid #d8c4a9;
}

.table-custom.table-bordered td,
.table-custom.table-bordered th {
  border: 1px solid #d8c4a9;
}

.child-forum-title {
  margin-bottom: 0px !important;
}

b,
strong {
  font-weight: 800;
}

.last-post-detail {
  line-height: 1.8;
  margin-bottom: 0px;
}

/* unvisited link */
a:link {
  color: #524a41;
}

/* visited link */
a:visited {
  color: #524a41;
}

/* mouse over link */
a:hover {
  color: #857768;
}

/* selected link */
a:active {
  color: #524a41;
}

.forum-title {
  margin-bottom: 0px;
}

.forum-group-title {
  margin-bottom: 0px;
}

.login-modal {
  background: rgba(0, 0, 0, 1);
}

/* .player-log:last-child {
  border-bottom: none;
} */

.player-log {
  /* border-bottom: 1px solid #857768; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.player-log-block {
  border: 1px solid #d8c4a9;
}

.container-fluid {
  padding: 0;
}

.app-navbar-collapse {
  align-items: end;
}

.content-image {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
}

.row.section {
  padding-top: 128px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.story-image {
  height: 15em;
  background-size: contain;
  background-position: right center;
}

.app-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
