<div class="modal-header">
  <h4 class="modal-title">Select alternative team</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let team of calculatedTeams; let i = index" class="card bg-light mb-3" style="cursor: pointer;" (click)="onTeamCardClick(team)" >
    <div class="card-header">
      <div class="row">
        <div class="col-md-4 d-flex align-items-start flex-column">
          <h5>
            <span class="badge badge-secondary">
              {{ team.teamOne | teamSum }}
            </span>
            Team One
          </h5>
        </div>
        <div class="col-md-4" style="text-align: center;" >
          Suggestion #{{i+1}}
        </div>
        <div class="col-md-4 d-flex align-items-end flex-column">
          <h5>
            Team Two
            <span class="badge badge-secondary">
              {{ team.teamTwo | teamSum }}
            </span>
          </h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 d-flex align-items-start flex-column">
          <h5 *ngFor="let player of team.teamOne">
            <span class="badge badge-secondary">{{ player.rating }}</span>
            {{ player.playerName }}
          </h5>
        </div>
        <div class="col-md-6 col-md-4 d-flex align-items-end flex-column">
          <h5 *ngFor="let player of team.teamTwo">
            {{ player.playerName }}
            <span class="badge badge-secondary">{{ player.rating }}</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>
