<div class="content-image" [defaultImage]="'/assets/images/background4@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background4.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="story">Teamizer Admin</h3>
            </div>
            <div class="col-md-6">
              <ag-grid-angular style="width: 100%;" [style.height.px]="screenHeight-300" class="ag-theme-alpine"
                [rowSelection]="'single'" (selectionChanged)="onSelectionChanged()"
                [getRowNodeId]="getRowNodeId"
                (gridReady)="onGridReady($event)" [rowData]="players" [columnDefs]="columnDefs">
              </ag-grid-angular>
            </div>
            <div *ngIf="selectedPlayer" class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="playerInput">Player</label>
                  <input type="text" class="form-control" id="playerInput" name="playerInput" readonly
                    [(ngModel)]="selectedPlayer.playerName">
                </div>
                <div class="form-group">
                  <label for="playerShortInput">Player short name</label>
                  <input type="text" class="form-control" id="playerShortInput" name="playerShortInput"
                    [(ngModel)]="selectedPlayer.playerShortName">
                </div>
                <div class="form-group">
                  <label for="ratingInput">Rating</label>
                  <input type="number" class="form-control" id="ratingInput" name="ratingInput"
                    [(ngModel)]="selectedPlayer.rating">
                </div>

                <div *ngIf="error" class="alert alert-danger" role="alert">
                  Please fill in all fields.
                </div>

                <button type="submit" class="btn btn-primary" (click) ="onSaveClick()">Save</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
