<div class="form-row col-md-12" style="position:relative;">
  <div class="form-control form-control-lg col">
    <div class="ml-1 row">
      <button *ngFor="let player of selectedPlayers" (click)="onDeleteClick(player)" readonly="readonly" type="button"
        id="playerBadge" class="btn btn-sm btn-primary btn-player">
        {{ player.playerShortName }}
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11">
          <path fill="currentColor"
            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
            class=""></path>
        </svg>
      </button>
      <div class="col">
        <input type="text" id="inputFilter" (keydown.enter)="onEnter($event)" (keydown.arrowup)="onKeyUp($event)"
          (keydown.arrowdown)="onKeyDown($event)" (keydown.backspace)="onBackSpace($event)" [(ngModel)]="inputValue" (input)="onInputChange($event)"
          autocomplete="off">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-md-1 ml-1 btn-apply" *ngIf="!teamizeClicked"  [disabled]="!canGo" (click)="onGoClick()" >Go</button>
  <button type="submit" class="btn btn-primary col-md-1 ml-1 btn-apply" *ngIf="teamizeClicked" (click)="onCopyClicked()" >Copy</button>
  <button type="submit" class="btn btn-primary col-md-1 ml-1 btn-apply" [disabled]="!canReset" (click)="onResetClick()">Reset</button>

  <div *ngIf="showPlayerDropdown" class="dropdown-menu scrollable-menu show" #scrollContainer>
    <a *ngFor="let player of filteredPlayers; let i = index" (click)="addPlayer(player)"
      [ngClass]="{'active': isActive(i)  }" class="dropdown-item"> {{ player.playerShortName }}
    </a>
  </div>
</div>
