<div class="content-image" [defaultImage]="'/assets/images/background4@0,1x.jpg'"
  [lazyLoad]="'/assets/images/background4.jpg'">
  <div class="row section">
    <div class="col-md-12">
      <div class="card" [lazyLoad]="'/assets/images/background-paper.png'">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h3 class="story">Join us</h3>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label htmlFor="vooblyNameInput">Voobly name</label>
                    <input type="text" class="form-control" id="vooblyNameInput">
                  </div>
                  <div class="form-group col-md-6">
                    <label htmlFor="exAliasInput">Ex aliases</label>
                    <input type="text" class="form-control" id="exAliasInput">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label htmlFor="emailInput">Email</label>
                    <input type="email" class="form-control" id="emailInput">
                  </div>
                  <div class="form-group col-md-6">
                    <label htmlFor="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput">
                  </div>
                </div>
                <div class="form-group">
                  <label htmlFor="howLongPlayingInput">How long have you been playing AOC? *</label>
                  <textarea type="text" class="form-control" id="howLongPlayingInput"></textarea>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label htmlFor="skillLevelInput">Skill level</label>
                    <input type="text" class="form-control" id="skillLevelInput">
                  </div>
                </div>
                <div class="form-group">
                  <label htmlFor="whyJoinInput">Why do you want to join CSA?</label>
                  <textarea type="text" class="form-control" id="whyJoinInput"></textarea>
                </div>
                <div class="form-group">
                  <label htmlFor="sponsorInput">Sponsor? (A sponsor can be added after playing a few games with CSA
                    officers)</label>
                  <textarea type="text" class="form-control" id="sponsorInput"></textarea>
                </div>
                <div class="form-group">
                  <label htmlFor="favoritesInput">Favorite civs, maps, hobbies</label>
                  <textarea type="text" class="form-control" id="favoritesInput"></textarea>
                </div>
                <div class="form-group">
                  <label htmlFor="somethingAboutSelfInput">Tell us something about yourself</label>
                  <textarea type="text" class="form-control" id="somethingAboutSelfInput"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-apply">
                  Apply
                </button>
              </form>
            </div>
            <div class="col-md-4 col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
